label {
  font-family: sans-serif;
}

h1 {
  font-family: monospace;
}

#output {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  margin-top: 20px;
  gap: 5px;
}

#output * {
  display: inline-block;
  margin: 0;
}

#output b {
  width: 100px;
}

.line {
  display: flex;
  background: yellow;
}

.action {
  background: #ffff88;
}

.cue {
  background: lime;
}

.action.cue {
  background: lightgreen;
}

.sceneend {
  font-style: italic;
  background: gray;
}

@media (max-width: 720px) {
  body {
    font-size: 25px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  #output {
    gap: 20px;
  }
  #output b {
    width: 200px;
  }
  input,
  select {
    font-size: 30px;
    border: 2px solid gray;
  }
  optgroup,
  option {
    font-size: 13px;
  }
  input[type="checkbox"] {
    width: 30px;
    height: 30px;
  }
  .line {
    flex-wrap: wrap;
  }
}
